*{
    margin: 0;
    padding: 0;
}
.fondo{
    background-color: #394764;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.calculadora{
    position: absolute;
    background-color: #232c43;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    padding: 15px;
}
.boton{
    width: 70px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    color: #424757;
    border-radius: 8px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-weight: bold;
}
.botonc{
    background-color: #627198;
    color: #f6ffff;
    width: 70px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-weight: bold;
}
.botonig{
    background-color: #d13f30;
    color: #f6ffff;
    width: 70px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-weight: bold;
}
.boton:hover{
    filter: brightness(0.85);
}
.botonc:hover{
    filter: brightness(0.85);
}
.botonig:hover{
    filter: brightness(0.85);
}
#resultado{
    background-color: #182033;
    width: 335px;
    height: 55px;
    border-radius: 8px;
}